.btn {
  background-color: #000080;
  color: #ffffff;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 6px;
  margin: 16px auto;
  display: block;
}

.btn:hover,
.btn:focus {
  background-color: #4169e1;
}
